[Unit]
Description=LunaCam Portal

[Service]
User=lunacam
StateDirectory=lunacam
Environment=LC_TEMPLATES=/usr/share/lunacam/templates
ExecStart=/usr/bin/lcportal
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
