{% extends "base.html" %}

{% block title %}Administration{% endblock title %}

{% block content %}

<template id="cam-entry-template">

    <hr />

    <div class="level">
        <div class="level-left">
            <span id="cam-name" class="level-item">CAMERA NAME</span>
        </div>
        <div class="level-right">
            <div class="field is-narrow level-item">
                <div class="control">
                    <input type="checkbox" id="cam-enabled" class="switch">
                    <label id="cam-enabled-label"></label>
                </div>
            </div>
        </div>
    </div>

</template>

<div class="container">

    <h3 class="title has-text-centered">Administration</h3>

    <div id="cam-list" class="box">

        <div class="level">
            <div class="level-left">
                <h5 class="title is-5 level-item">Camera Management</h5>
            </div>
        </div>

        {% for camera in cameras %}
        <cam-entry cam-name="{{ camera.name }}" cam-id="{{ camera.id }}"></cam-entry>
        {% endfor %}

    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script src="/static/js/admin.js"></script>
{% endblock %}
