[Unit]
Description=LunaCam Agent
ReloadPropagatedFrom=dev-video0.device

[Service]
User=lunacam
StateDirectory=lunacam
ExecStart=/usr/bin/lcagent
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
