{% extends "base.html" %}

{% block title %}Administration{% endblock title %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column">
            <div class="box">

                <h3 class="title is-5">Administrative Controls</h3>
                <div id="notifications"></div>
                <hr />

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Stream Enabled</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <input type="checkbox" class="switch" id="stream-enabled" onclick="enabledClicked(this)">
                                <label for="stream-enabled"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Update Passwords</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded">
                                <input type="password" class="input" id="user-pw" placeholder="User Password">
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded">
                                <input type="password" class="input" id="admin-pw" placeholder="Admin Password">
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary" id="update-pw" disabled>
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Reset Logins</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button class="button is-danger" id="session-reset">
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal" id="reset-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <progress class="progress is-large is-primary" max="100">50%</progress>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script src="/static/js/admin.js"></script>
{% endblock extrajs %}
