<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"
              integrity="sha256-zIG416V1ynj3Wgju/scU80KAEWOsO5rRLfVyRDuOv7Q="
              crossorigin="anonymous" />
        {% block extracss %}
        {% endblock extracss %}

        <title>{% block title %}{% endblock title %}</title>
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">Live Stream</a>
                <div class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </div>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="/admin">Admin</a>
                </div>
            </div>
        </nav>
        <section class="section">
            {% block content %}
            {% endblock content %}
        </section>
        <!-- <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script> -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                // Toggle menu visibility when hamburger is clicked
                $(".navbar-burger").click(function() {
                    $(".navbar-burger").toggleClass("is-active");
                    $(".navbar-menu").toggleClass("is-active");
                });
            });
        </script>
        {% block extrajs %}
        {% endblock extrajs %}
    </body>
</html>
