<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/css/style.css" />
        {% block extracss %}
        {% endblock extracss %}

        <title>{% block title %}{% endblock title %} - LunaCam</title>

    </head>

    <body>

        <nav class="navbar" role="navigation" aria-label="main navigation">

            <div class="navbar-brand">
                <a class="navbar-item" href="/">All Cameras</a>
                <div class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </div>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Administration</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="/admin/cameras">Cameras</a>
                            <a class="navbar-item" href="/admin/users">Users</a>
                        </div>
                    </a>

                </div>
            </div>
        </nav>

        <template id="message-banner-template">
            <div class="notification" id="notification">
                <span id="message"></span>
                <button class="delete" id="delete-button"></button>
            </div>
        </template>

        <section class="section">
            {% block content %}
            {% endblock content %}
        </section>

        <script src="/static/js/base.js"></script>
        {% block extrajs %}
        {% endblock extrajs %}

    </body>

</html>
