[Unit]
Description=LunaCam Web Server
After=network.target network-online.target nss-lookup.target
PartOf=lunacam.service
Wants=lunacam.service

[Service]
Type=forking
PIDFile=/run/lunacam/nginx.pid
User=lunacam
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=yes
ExecStartPre=/usr/bin/nginx -t -c /etc/lunacam/nginx.conf
ExecStart=/usr/bin/nginx -c /etc/lunacam/nginx.conf
ExecReload=/usr/bin/nginx -c /etc/lunacam/nginx.conf -s reload
KillMode=mixed

[Install]
WantedBy=multi-user.target
