[Unit]
Description=Video capture and HLS management for LunaCam
BindsTo=dev-video0.device
After=dev-video0.device
PartOf=lunacam.service

[Service]
Type=simple
User=lunacam
ExecStart=/usr/bin/ffmpeg \
    -f v4l2 -input_format h264 -video_size 1280x720 -i /dev/video0 \
    -c:v copy -c:a aac \
    -f hls -hls_flags delete_segments /tmp/lunacam/hls/video0.m3u8

[Install]
WantedBy=multi-user.target
