[Unit]
Description=LunaCam Daemon
After=network.target network-online.target nss-lookup.target
ReloadPropagatedFrom=dev-video0.device

[Service]
User=lunacam
StateDirectory=lunacam
ExecStart=/usr/local/bin/lunacam /etc/lunacam/config.json
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
