{% extends "base.html" %}

{% block title %}Administration{% endblock title %}

{% block content %}

<template id="cam-entry-template">

    <hr />

    <div id="header" class="level">
        <div class="level-left">
            <span id="cam-name-label" class="level-item">CAMERA NAME</span>
        </div>
        <div class="level-right">
            <span class="icon"><i id="dropdown-indicator" class="fas fa-chevron-down"></i></span>
        </div>
    </div>

    <div id="form-wrapper">

        <div class="field is-horizontal">
            <div class="field-label">
                <label class="label">Stream Enabled</label>
            </div>
            <div class="field-body">
                <div class="field is-narrow">
                    <div class="control">
                        <input type="checkbox" id="cam-enabled" class="switch">
                        <label id="cam-enabled-label"></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Camera Name</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control is-expanded">
                        <input type="text" id="cam-name-field" class="input" placeholder="name...">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Orientation</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control is-expanded">
                        <div class="select is-fullwidth">
                            <select>
                                <option>Landscape</option>
                                <option>Portrait</option>
                                <option>Inverted Landscape</option>
                                <option>Inverted Portrait</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Device Hostname</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control is-expanded">
                        <input type="text" id="cam-name-field" class="input" placeholder="hostname...">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Device Key</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control is-expanded">
                        <input type="password" id="cam-name-field" class="input" placeholder="key...">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-grouped is-grouped-right">
            <p class="control">
                <button class="button is-primary">Save</button>
            </p>
            <p class="control">
                <button class="button is-light">Cancel</button>
            </p>
        </div>

    </div>

</template>

<div class="container">

    <h3 class="title has-text-centered">Administration</h3>

    <div id="cam-list" class="box">

        <div class="level">
            <div class="level-left">
                <h5 class="title is-5 level-item">Camera Management</h5>
            </div>
        </div>

        {% for camera in cameras %}
        <cam-entry cam-name="{{ camera.friendly_name }}" cam-id="{{ camera.id }}"></cam-entry>
        {% endfor %}

    </div>
</div>
{% endblock content %}

{% block extrajs %}
<script src="/static/js/admin.js"></script>
{% endblock %}
